// TrimGalore options
params {
 e = '0.1'
 quality = '20'
 length = '39'
}

// Nextflow tower
tower {
  accessToken = 'eyJ0aWQiOiA0MjkzfS43NzJlOWExZmM4ZjBkMmE4OGI3ZGU3MzgwNTkyNzU3YzIyNTY4MzU4'
  enabled = true
}

// Processes
process {
  withLabel: 'fastqc' { cpus = 1; memory = 500.MB; executor = 'slurm' }
  withLabel: 'trimming' { cpus = 4; memory = 500.MB; executor = 'slurm' }
  withName: 'alignment' { cpus = 2; memory = 35.GB; executor = 'slurm' }
  withName: 'samtools' { cpus = 1; memory = 500.MB; executor = 'slurm' }
  withLabel: 'deduplication' { cpus = 8; memory = 8.GB; executor = 'slurm' }
  withName: 'countTable' { cpus = 2; memory = 500.MB; executor = 'slurm' }
  withName: 'multiqc' { cpus = 1; memory = 500.MB; executor = 'slurm' }
  
}

// profile
profiles {
  standard {
    resume = true
    process.conda = 'human.yml'
 }
}

// other params
params {
 genome = '/home/tigem/g.martone/utils/fasta/genome.fa'
 gtf = '/home/tigem/g.martone/utils/genes/genes.gtf'
 index = '/home/tigem/g.martone/utils/index'
}
