// TrimGalore options
params.e = '0.1'
params.quality = '20'
params.length = '70'

// nextflow tower
tower {
  accessToken = 'eyJ0aWQiOiA0MjkzfS43NzJlOWExZmM4ZjBkMmE4OGI3ZGU3MzgwNTkyNzU3YzIyNTY4MzU4'
  enabled = true
}

//
process {
  
  withName: fastqc {
    cpus = 1
    memory = 500.MB
    executor = 'slurm'
   }
 
  withName: trimming {
    cpus = 2
    memory = 500.MB
    executor = 'slurm'
   }
  
  withName: alignment {
    cpus = 4
    memory = 35.GB
    executor = 'slurm'
   } 
  
  withName: samtools {
   cpus = 2
   memory = 1.GB
   executor = 'slurm'
   }

  withName: countTable {
   cpus = 3
   memory = 1.GB
   executor = 'slurm'
  }

 withName: multiqc {
   cpus = 1
   memory = 1.GB
   executor = 'slurm'
  }
}

// profile
profiles {
  standard {
    resume = true
 }
}

// featureCounts options
params.genome = '/home/tigem/g.martone/human/fasta/genome.fa'

// slurm
process.executor = 'slurm' 
