// TrimGalore options
params {
 e = '0.1'
 quality = '20'
 length = '39'
}

// Nextflow tower
tower {
  accessToken = 'eyJ0aWQiOiA0MjkzfS43NzJlOWExZmM4ZjBkMmE4OGI3ZGU3MzgwNTkyNzU3YzIyNTY4MzU4'
  enabled = true
}

// Processes
process {
  
  executor = 'slurm'
  
  withLabel: 'fastqc' { cpus = 1, memory = 4.GB }
  withLabel: 'trimming' { cpus = 1, memory = 4.GB }
  withName: 'alignment' { cpus = 1, memory = 4.GB }
  withName: 'samtools' { cpus = 1, memory = 4.GB }
  withName: 'deduplication' { cpus = 1, memory = 4.GB }
  withName: 'countTable' { cpus = 1, memory = 4.GB }
  withName: 'multiqc' { cpus = 1, memory = 4.GB }
  
}

// profile
profiles {
  standard {
    resume = true
    process.conda = 'human'
 }
}

// other params
params {
 genome = '/home/tigem/g.martone/utils/fasta/genome.fa'
 gtf = '/home/tigem/g.martone/utils/genes/genes.gtf'
 index = '/home/tigem/g.martone/utils/index'
}
